<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/navbar.ejs") %>
    <body>
        <h1>List of items</h1>
        <br>
        <table>
            <th>Item Name</th>
            <th>Type</th>
            <th>Slot</th>
            <th>Source</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Item Level</th>
            <th>Caster Level</th>
            <th>Aura</th>
            <th>Activation</th>
            <% results.forEach((item) => { %>
                <tr>
                    <td><a href="/items/<%=item.id%>"> <%= item.Name %> </a></td>
                    <td><%= item.Type %></td>
                    <td><%= item.Slot %></td>
                    <td><%= item.Source %></td>
                    <td><%= item.Price %></td>
                    <td><%= item.Weight ? item.Weight : `-` %></td>
                    <td><%= item.Level ? item.Level : `-` %></td>
                    <td><%= item.CasterLevel ? item.CasterLevel : `-` %></td>
                    <td><%= item.Aura ? item.Aura : `-` %></td>
                    <td><%= item.Activation ? item.Activation : `-` %></td>
                </tr>
            <% }) %>
        </table>
        <a href="/create-item">Create Item</a>
    </body>
</html>