<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div>
        <ul>
            <h1><%=user.username%>'s Characters</h1>
            <% if(characters.length > 0){ %>
                <% characters.forEach(character => { %>
                    <li>
                        <a href="/characters/<%=character.id%>"><%=character.name%></a>
                    </li>
                <% }) %>
            <% }else{ %>
                <p>Create a character!</p>
            <% } %>
        </ul>
        <a href="/create-character">Character Creator</a>
    </div>
    <hr>
    <div>
        <ul>
            <h1><%=user.username%>'s Shops</h1>
            <% if(shops.length > 0){ %>
                <% shops.forEach(shop => { %>
                    <li>
                        <a href="/shops/<%=shop.id%>"><%=shop.name%></a>
                    </li>
                <% }) %>
            <% }else{ %>
                <p>Create a shop!</p>
            <% } %>
        </ul>
        <a href="/create-shop">Create Shop</a>
    </div>
    <hr>
    <div>
        <ul>
            <h1><%=user.username%>'s Favorite Items</h1>
            <% if(items.length > 0){ %>
                <% items.forEach(item => { %>
                    <li>
                        <a href="/items/<%=item.id%>"><%=item.name%></a>
                    </li>
                <% }) %>
            <% }else{ %>
                <p>Favorite some items!</p>
            <% } %>
        </ul>
        <a href="/items">Search Items</a>
    </div>
</body>
</html>