<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <label for="name"></label>
        <h3 name="name"><%=character.name%></h3>
        <hr>
        <h3><%=character.name%>'s class</h3>
        <label for="class"></label>
        <% if(!character.class == null){ %>
            <p name="class"><%=character.class%></p>
        <% }else{ %>
            <p name="class">Choose a class!</p>
        <% } %>
        <hr>
        <h3><%=character.name%>'s race</h3>
        <label for="race"></label>
        <% if(!character.race == null){ %>
            <p name="race"><%=character.race%></p>
        <% }else{ %>
            <p name="race">Choose a race!</p>
        <% } %>
        <hr>
        <h3><%=character.name%>'s templates</h3>
        <label for="template"></label>
        <% if(!character.template == null){ %>
            <p name="template"><%=character.template%></p>
        <% }else{ %>
            <p name="template">Choose a template!</p>
        <% } %>

        <hr>
        <h3><%=character.name%>'s stats</h3>
        <label for="stats"></label>
        <% if(!character.stats == null){ %>
            <p name="stats"><%=character.stats%></p>
        <% }else{ %>
            <p name="stats">Choose stats!</p>
        <% } %>
        <hr>
        <h3><%=character.name%>'s items</h3>
        <label for="items"></label>
        <% if(items.length > 0){ %>
            <ul>
                <% items.forEach(item => { %>
                    <li><%=item.name%></li>
                <% }) %>
            </ul>
        <% }else{ %>
            <h3 name="items">Add items to character!</h3>
        <% } %>

        <a href="/update-character/<%=character.id%>">Update Character</a>
    </body>
</html>