<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <h1>Create your character</h1>
        <form action="/api/characters/createCharacter?_method=POST" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <br><br>
            <label for="class">Class</label>
            <select name="classes" id="class">
                <% classes.forEach((x) => { %>
                    <option value="<%=x.id%>"><%=x.name%> - <%=x.helpText%></option>
                <% }) %>
            </select>
            <br><br>
            <label for="race">Race</label>
            <select name="race" id="race">
                <% races.forEach((x) => { %>
                    <option value="<%=x.id%>"><%=x.name%> - <%=x.helpText%></option>
                <% }) %>
            </select>
            <br><br>
            <input type="submit" name="_method" value="Create Character">
        </form>
    </body>
</html>