<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <h1>Item Information</h1>
        <h3>Name: <%= item.name %></h3>
        <p>Type: <%= item.type %></p>
        <p>Slot: <%= item.slot %></p>
        <p>Price: <%= item.price %></p>
        <p>Source: <%= item.source %></p>
        <p>Weight: <%= item.weight %></p>
        <p>Item Level: <%= item.level ? item.level : `-` %></p>
        <p>Caster Level: <%= item.casterLevel ? item.casterLevel : `-` %></p>
        <p>Aura: <%= item.aura ? item.aura : `-` %></p>
        <p>Activation: <%= item.activation ? item.activation : `-` %></p>
        <% if(isAuth && !userFaves.includes(item._id)){ %>
            <form action="/api/users/addItemToFavorites?_method=PUT" method="post">
                <input type="hidden" name="itemId" value="<%=item.id%>">
                <input type="submit" name="_method" value="Add item to favorites">
            </form>
        <% } else if(isAuth && userFaves.includes(item._id)){ %>
            <p>Item in favorites!</p>
        <% } %>

        <a href="/update-item/<%=item.id%>">Update Item</a>
    </body>
</html>